@font-face {
  font-family: "Source Code";
  src: url("../font/SourceCodePro-Regular.otf");
}

@font-face {
  font-family: "Source Code";
  src: url("../font/SourceCodePro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Code";
  src: url("../font/SourceCodePro-Semibold.otf");
  font-weight: 600;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
  margin: 0;
  color: #F0F1F1;
  -webkit-user-select: none;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

#faux-title-bar {
  height: 2rem;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
}

#window-title {
  font-size: 1rem;
  font-weight: normal;
  text-shadow: 1px 1px 0px #000;
  color: #aaa;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: .5rem;
  z-index: -1;
}

#content-wrapper {
  height: calc(100% - 2rem);
}

#networks-pane {
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 10rem;
  position: relative;
}

#context-area {
  overflow: hidden;
  height: 100%;
  padding: .5rem;
  box-sizing: border-box;
}

#not-users {
  height: 100%;
  width: calc(100% - 10rem);
  float: left;
}

#users-pane {
  float: left;
  width: 9.5rem;
  height: 100%;
  margin-left: .5rem;
}

#users-list {
  margin: 0;
  padding: 0;
  overflow: auto;
}

#messages {
  /* I have literally been waiting a decade for clac. This is better than sex */
  height: calc(100% - 3rem);
  margin-bottom: .5rem;
  overflow: auto;
  -webkit-user-select: text;
  cursor: auto;
}

#user-input {
  width: 100%;
  height: 2.5rem;
  padding: .65rem;
  overflow: hidden;
}

#message-table {
  border-collapse: collapse;
}

#message-table td:first-child {
  vertical-align: top;
  border-right: 1px solid #58595A;
  padding-right: .5rem;
}

#message-table td:nth-child(2) {
  padding-left: .5rem;
}

.os-buttons-container {
  position: absolute;
}

.os-button.close { background-color: #FD4E4E; }
.os-button.minimize { background-color: #F3BB55; }
.os-button.maximize { background-color: #96D16F; }

.os-button {
  display: inline-block;
  margin: 2px 2px 3px 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #f36;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  text-indent: -9999px;
  position: relative;
}

.os-button:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.os-button:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}

.message-line {
  margin: 0;
  display: block;
}
.message-line.multi-line {
  font-family: "Source Code";
  white-space: pre-wrap;
}

.channel-list {
  margin-bottom: 1rem;
}

.seperator {
  background-color: #58595A;
  position: absolute;
}

.seperator.right {
  top: 20px;
  bottom: 20px;
  right: 0;
  width: 1px;
}

.label-text {
  color: #A0A7AF;
  padding-bottom: .1rem;
  margin-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #58595A;
}
